@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Dummy Form example</title>
    </head>
    <body>
        <form method="post" autocomplete="on">
            sub name:<input type="text" name="sub_name"><br>
            sup id : <input type="text" name="sup_id"><br>
            price : <input type="text" name="price"><br>

            sales : <input type="text" name="sales"><br>
            total : <input type="text" name="sales"><br>
            <input type="submit">
        </form>
    </body>
</html>
